.game {
    position: absolute;
    left: -10px;
    top: 0;
    height: 100vh;
    width: calc(100vw + 10px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    position: absolute;
    background-size: 50vw 100vh;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
}

.bird {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.nomnom {
    position: absolute;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ground {
    position: absolute;
    background-size: 62.5vw 100px;
    width: 62.5vw;
}

.pipe {
    position: absolute;
    height: 100%;
    background-position-x: 0;
    background-size: 100px 500px;
    background-repeat: no-repeat;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
}

.paused {
    position: absolute;
    color: red;
    background-color: rgba(113, 197, 208, 0.85);
    font-size: 100px;
    text-align: center;
    top: calc(50% - 100px);
    width: 100%;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.scoreboard {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    color: white;
    text-align: left;
}
