.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.gameoflifesquare {
    border: 1px solid rgb(143, 21, 180);
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
}
